<p id="notice"><%= notice %></p>

<p>
  <strong>Version:</strong>
  <%= @update.version %>
</p>

<p>
  <strong>Date:</strong>
  <%= @update.date %>
</p>

<%= link_to 'Edit', edit_update_path(@update) %> |
<%= link_to 'Back', updates_path %>
